<app-navbar></app-navbar>
<main>
    <a class="back-arrow" routerLink="/feed"><i class="pi pi-arrow-left"></i></a>
    <section *ngIf="article">
        <h2>{{ article.title }}</h2>
        <div class="mt-4 mb-4 flex column-gap-5">
            <span>Date : {{ article.createdAt | date:'dd/MM/yyyy' }}</span>
            <span>Auteur : {{ article.authorUsername }}</span>
            <span>Thème : {{ article.themeName }}</span>
        </div>
        <p class="pb-5 mb-5">{{ article.content }}</p>

        <h3 class="mb-5">Commentaires</h3>
        <div class="pl-6 pr-6">
            <div *ngFor="let comment of comments" class="flex column-gap-5 row-gap-5 mb-6">
                <span class="username">{{ comment.authorUsername }}</span>
                <p-card>{{ comment.body }}</p-card>
            </div>
            <div class="flex align-items-center column-gap-4 add-comment">
                <textarea rows="4" pInputTextarea placeholder="Écrivez ici votre commentaire" [(ngModel)]="commentBody"></textarea>
                <p-button styleClass="submit" icon="pi pi-send" title="Envoyer" (onClick)="submitComment()"></p-button>
            </div>
        </div>
    </section>
</main>
