<app-navbar></app-navbar>
<main>
    <a class="back-arrow" routerLink="/"><i class="pi pi-arrow-left"></i></a>
    <section>
        <h2>Titre de l’article sélectionné</h2>
        <div class="mt-4 mb-4 flex column-gap-5">
            <span>Date : 26 février 2026</span>
            <span>Auteur : Jean Dupont</span>
            <span>Thème : theme</span>
        </div>
        <p class="pb-5 mb-5">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam bibendum finibus luctus. Pellentesque dictum, lacus ut commodo convallis, est enim venenatis tellus, quis feugiat sapien arcu nec orci. Nulla a ligula eget libero rhoncus pharetra nec vitae neque. Proin vestibulum eros in ante tincidunt, sed vulputate odio fermentum. Nunc quis metus viverra, maximus eros et, vehicula enim. Sed vitae facilisis ligula. Phasellus nec ligula felis. Nulla accumsan semper sodales. Praesent egestas justo dolor, sit amet elementum ligula vulputate vitae.<br /><br />

            Nunc semper urna id nisl pellentesque, sit amet maximus lacus ornare. Praesent ornare at elit tempus rhoncus. Nullam lacinia sem at ante vehicula lobortis. Nulla et laoreet mauris. Pellentesque non auctor enim. Vivamus tempus libero eu ex posuere interdum. Morbi rhoncus scelerisque congue. Mauris convallis lectus mi, a fermentum eros gravida non. Suspendisse quis porta nisl, ac bibendum est. Integer enim metus, iaculis sit amet fermentum eu, euismod at metus.
        </p>

        <h3 class="mb-5">Commentaires</h3>
        <div class="pl-6 pr-6">
            <div class="flex column-gap-5 row-gap-5 mb-6">
                <span class="username">Username</span>
                <p-card>
                    Contenu du commentaire
                </p-card>
            </div>
            <div class="flex align-items-center column-gap-4 add-comment">
                <textarea  rows="4" pInputTextarea placeholder="Écrivez ici votre commentaire"></textarea>
                <p-button styleClass="submit" icon="pi pi-send" title="Envoyer"></p-button>
            </div>
        </div>
        
    </section>
</main>