<p-menubar>
    <ng-template pTemplate="start">
        <img src="assets/logo_p6.png" alt="Logo MDD" class="logo" />
    </ng-template>
    <ng-template pTemplate="end" class="flex">
        <ng-container *ngIf="!hideNav">
            <div class="nav-desktop flex gap-3 align-items-center">
                <a *ngFor="let item of items" pRipple class="cursor-pointer" [ngClass]="item.styleClass" [routerLink]="item.routerLink || null" routerLinkActive="nav-link--active" [routerLinkActiveOptions]="{exact: true}" (click)="item.command && item.command({})">{{ item.label }}</a>
            </div>
            <a routerLink="/profile" routerLinkActive="avatar--active" class="nav-desktop">
                <p-avatar icon="pi pi-user" class="mr-2" size="large" shape="circle"></p-avatar>
            </a>
            <button class="nav-burger" (click)="menuOpen = true">
                <i class="pi pi-bars"></i>
            </button>
        </ng-container>
    </ng-template>
</p-menubar>

<p-sidebar *ngIf="!hideNav" [(visible)]="menuOpen" position="right" [style]="{'width': '60%'}">
    <div class="sidebar-content">
        <div class="sidebar-top">
            <a *ngFor="let item of items" pRipple class="cursor-pointer" [ngClass]="item.styleClass" [routerLink]="item.routerLink || null" routerLinkActive="nav-link--active" [routerLinkActiveOptions]="{exact: true}" (click)="item.command && item.command({}); menuOpen = false">{{ item.label }}</a>
        </div>
        <div class="sidebar-bottom">
            <a routerLink="/profile" routerLinkActive="avatar--active" (click)="menuOpen = false">
                <p-avatar icon="pi pi-user" size="large" shape="circle"></p-avatar>
            </a>
        </div>
    </div>
</p-sidebar>
