.logo {
    width: 140px;
}

.nav-burger {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.25rem;

    i {
        font-size: 1.5rem;
    }
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-top {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

@media (max-width: 740px) {
    .nav-desktop {
        display: none !important;
    }

    .nav-burger {
        display: flex;
        align-items: center;
    }
}

:host ::ng-deep {
    .p-menubar {
        padding: 0 2rem;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid black;
        border-radius: 0;

        &-end {
            display: flex;
            gap: 2.5rem;
        }
    }

    .p-element {
        font-size: 1.3rem;
    }

    .nav-link--active {
        color: var(--primary-color);
    }

    .avatar--active {
        .p-avatar {
            border: 3px solid var(--primary-color);

            .p-avatar-icon {
                font-weight: 600;
                color: var(--primary-color);
            }
        }
    }

    .p-sidebar {
        display: flex;
        flex-direction: column;

        .p-sidebar-content {
            flex: 1;
            display: flex;
            flex-direction: column;
            text-align: right;

            .nav-link--logout {
                padding-right: 0;
            }

            .sidebar-content {
                flex: 1;
            }
        }
    }

    .p-sidebar .p-sidebar-footer {
        padding: 0;
    }

    .p-sidebar-mask {
        background-color: white !important;
        opacity: 0.6 !important;
    }

    .nav-link--logout {
        padding-right: 0.5rem;
        font-size: 1rem;
        font-weight: bold;
        color: var(--logout-color);
    }
}

