<app-navbar></app-navbar>
<main>
    <div class="flex justify-content-between buttons-container">
        <p-button label="Créer un article" styleClass="p-button-primary"></p-button>
        <p-button label="Trier par" styleClass="p-button-secondary" icon="pi pi-arrow-down" iconPos="right"></p-button>
    </div>

    <div class="mt-5 flex column-gap-6 row-gap-5 flex-wrap">
        <p-card header="Titre de l'article">
            <ng-template pTemplate="subtitle">
            <div>Date : 26 février 2026</div>
            <div>Auteur : Jean Dupont</div>
            </ng-template>
            <p>Content: lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled...</p>
        </p-card>
    </div>
</main>