<app-navbar></app-navbar>
<main>
    <a class="back-arrow" routerLink="/"><i class="pi pi-arrow-left"></i></a>
    <section>
        <img class="mobile-logo" src="assets/logo_p6.png" alt="Logo" />
        <h2 class="mb-5">Se connecter</h2>

        <div class="flex flex-column mt-4">
            <label for="username">E-mail ou nom d'utilisateur</label>
            <input pInputText id="username" />
        </div>
        <div class="flex flex-column mt-4">
            <label for="password">Mot de passe</label>
            <input pInputText id="password" type="password" />
        </div>

        <p-button label="Se connecter" styleClass="p-button-primary mt-4"></p-button>
    </section>
</main>