main {
    display: flex;
    column-gap: 1.5rem;
}

section {
    flex: 1;
}

h2 {
    font-weight: 500;
    text-align: left;
}

h3 {
    font-weight: 400;
}

p {
    border-bottom: 1px solid black;
}

.username {
    width: 10%;;
}

p-card {
    width: 100%;
}

:host ::ng-deep  {
    .p-inputtext {
        border-radius: 16px;
    }

    .p-button.submit {
        width: fit-content;
        height: fit-content;
        background: transparent;
        border: none;
        color: var(--primary-color);

        .pi {
            font-size: 43px;
        }
    }
}

@media (max-width: 740px) {
    .username {
        width: 100%;
        text-align: right;
    }

    main {
        flex-direction: column;
        row-gap: 1rem;

        .flex {
            row-gap: 0.5rem !important;
            margin-bottom: 1rem !important;

        &.add-comment {
            flex-direction: row;
            column-gap: 0.5rem !important;
        }
    }
    }
}
