<app-navbar></app-navbar>
<main>
    <div class="mt-5 flex column-gap-6 row-gap-5 flex-wrap">
        <p-card *ngFor="let theme of themes" [header]="theme.name">
            <p>{{ theme.description }}</p>
            <div class="mt-3 flex justify-content-center container-button">
                <p-button
                    [label]="isSubscribed(theme.id) ? 'Déjà abonné' : 'S\'abonner'"
                    styleClass="p-button-primary"
                    [disabled]="isSubscribed(theme.id)"
                    (onClick)="subscribe(theme.id)">
                </p-button>
            </div>
        </p-card>
    </div>
</main>
